.clothes-section{
    width: 100%;
}

.clothes-section__row {
    display: flex;
}

.clothes-section__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 283px);
    grid-template-rows: repeat(auto-fit, 283px);
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(283px, 1fr));
    justify-items: center;
    width: 100%;
}